#main
  %hw Edit Requirement
  %p= link_to "Cancel", requirement_path(@requirement)
  = form_for @requirement do |field|
    %p=field.label :name
    %p=field.text_field :name
    %p=field.label :course
    %p=field.number_field :course
    %p=field.submit
%p= link_to "Cancel", requirements_path
