body {
  background-color: #5A0000;
  background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%), linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%), linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
background-size: 13px, 29px, 37px, 53px;
  font-family: Georgia, serif;
  font-size: 15pt;
  font-weight: 15;
  font-style: normal;
  background-color: #5A0000;
  color: #FFFFF0; 
  padding: 15px;
}
body #main {
  background-color: #FFFFF0;
  color: #000033;
  width: 90%;
  left: 10%;
  position: relative;
  padding: 15px;
  border: 5px solid #000033;
  border-radius: 15px; 
}
body h3 {
  font-family: Georgia, serif;
  font-size: 25pt;
  font-weight: 200;
  font-style: normal;
  text-align: center; 
}


body th {
  font-weight: bold; 
}
body a:link, body a:visited, body .products_table th {
  color: #006BB2;
}
body #title{
  font-family: Georgia, serif;
  font-size: 40pt;
  font-weight: 200;
  font-style: normal;
  font-style: italic;
}
input.login{
  color: #5A0000;
}

.log_but{
  color: #5A0000;
}
